<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetViteMpa</title>
    @await RenderSectionAsync("Styles", required: false)
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
</head>
<body>
<header>
        <h1>AspNetViteMpa - @ViewData["Title"]</h1>
</header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2023 - David W. Gray - <a asp-controller="Home" asp-action="vite">Vite</a>, <a asp-controller="Home" asp-action="DotNet">asp.net</a>, <a asp-controller="Home" asp-action="Vue">vue.js</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
