<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetViteMpa</title>
    @await RenderSectionAsync("Styles", required: false)
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <nav>
            <div>
                <a asp-controller="Home" asp-action="Index">AspNetViteMpa</a>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2023 - AspNetViteMpa - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
