@using Vite.AspNetCore
@inject IViteManifest Manifest;
@model VueModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    var entry = $"/src/pages/{Model.Name}/main.ts";
}

@section Styles {
    <link rel="stylesheet" vite-href="@entry" asp-append-version="true" />
}

@section Scripts {
    <script type="module" vite-src="@entry" asp-append-version="true"></script>
}

<div id="app"></div>
